---
---

// Misc.
$misc: (
    z-index-base:		10000
);

// Duration.
$duration: (
    menu:				0.5s,
    transition:			0.2s
);

// Size.
$size: (
    border-radius:		4px,
    border-width:		1px,
    element-height:		3.5em,
    element-margin:		2em,
    gutter:				3em,
    inner: 				80em
);

// Font.
$font: (
    family:				('Open Sans', Arial, Helvetica, sans-serif),
    family-fixed:		('Courier New', monospace),
    weight:				300,
    weight-bold:		400
);

// Palette.
{% assign palette = site.palettes[site.palette].sass %}
$palette: (
    bg:					#ffffff,
    fg:					#5a5a5a,
    fg-bold:			#333333,
    fg-light:			#aaaaaa,
    border:				rgba(144,144,144,0.25),
    border-bg:			rgba(144,144,144,0.075),
    border2:			rgba(144,144,144,0.5),
    border2-bg:			rgba(144,144,144,0.2),
    highlight:			accent1,

    accent1: (
        bg:				{{ palette.accent1 }},
        fg:				rgba(255,255,255,0.75),
        fg-bold:		#ffffff,
        fg-light:		rgba(255,255,255,0.5),
        border:			rgba(255,255,255,0.25),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent1
    ),

    accent2: (
        bg:				#5a5a5a,
        fg:				rgba(255,255,255,0.75),
        fg-bold:		#ffffff,
        fg-light:		rgba(255,255,255,0.5),
        border:			rgba(255,255,255,0.15),
        border-bg:		rgba(255,255,255,0.075),
        border2:		rgba(255,255,255,0.5),
        border2-bg:		rgba(255,255,255,0.2),
        highlight:		accent1
    )
);
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';
@import 'font-awesome.min.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,300italic,400italic');

/*
	Telemetry by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( null,    480px  )
	));

// Mixins.

	@mixin color($p) {
		@include color-typography($p);
		@include color-box($p);
		@include color-button($p);
		@include color-form($p);
		@include color-list($p);
		@include color-icons-bordered($p);
		@include color-contact-icons($p);
		@include color-section($p);
		@include color-table($p);
		@include color-features($p);
		@include color-stats($p);
		@include color-tabs($p);
		@include color-ratings($p);
	}

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/row';
	@import 'components/box';
	@import 'components/split';
	@import 'components/features';
	@import 'components/stats';
	@import 'components/tabs';
	@import 'components/quotes';
	@import 'components/ratings';
	@import 'components/button';
	@import 'components/form';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/icons';
	@import 'components/actions';
	@import 'components/icons-bordered';
	@import 'components/contact-icons';
	@import 'components/section';
	@import 'components/table';
	@import 'components/wrapper';

// Layout.

	@import 'layout/header';
	@import 'layout/navPanel';
	@import 'layout/banner';
	@import 'layout/main';
	@import 'layout/footer';
